torch
torchvision
torchaudio
jupyter
ipykernel
Cython
packaging
speechbrain
transformers
librosa
pyaudio
git+https://github.com/NVIDIA/NeMo.git
scikit-learn
essentia-tensorflow
BeatNet
diffusers
stable_diffusion_videos
keybert
